{% extends 'base.html' %} {% block content %}





<div class="container">
  <div class="page-header">
    <div class="row">
      <div class="col-lg-3 col-xs-6">
        <!-- small box -->
        <div class="small-box bg-aqua">
          <div class="inner">
            <h4>Daily Sale</h4>
            <p>৳ <span id="dailySale">102</span></p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-xs-6">
        <!-- small box -->
        <div class="small-box bg-green">
          <div class="inner">
            <h4>Monthly Sale</h4>
            <p>৳ <span id="monthlySale">3652</span></p>
          </div>
        </div>
      </div>
      <!-- ./col -->
      <div class="col-lg-3 col-xs-6">
        <!-- small box -->
        <div class="small-box bg-danger">
          <div class="inner">
            <h4>Purchase Cost</h4>
            <p>৳ <span id="purchaseCost">4120</span></p>
          </div>
        </div>
      </div>
      <!-- ./col -->
      <div class="col-lg-3 col-xs-6">
        <!-- small box -->
        <div class="small-box bg-info">
          <div class="inner">
            <h4>Total Profit</h4>
            <p>৳ <span id="totalProfit">54213</span></p>
          </div>
        </div>
      </div>
      <!-- ./col -->
      
      <!-- ./col -->
      
      </div>
      <!-- ./col -->
    </div>

    <div class="row">
      <canvas id="myChart" width="200" height="100"></canvas>
    </div>

  </div>

  <script type="text/javascript">
    const datat = async () => {
      const got = await fetch('http://127.0.0.1:8000/getchartData');
      let converted = await got.json();
      return Object.values(converted);
    }
    var hh = datat();
    hh.then(data =>{
      $("#monthlySale").html(data[0]);
      myfunc(data);
    })
    function myfunc(datax){
    var ctx = document.getElementById('myChart').getContext('2d');
    var myChart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November','December'],
        datasets: [{
            label: 'Monthly Sales',
            data: datax,
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)',
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)',
            ],
            borderColor: [
                'rgba(255, 99, 132, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)',
                'rgba(255, 99, 132, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)'
            ],
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero: true
                }
            }]
        }
    }
    });
    }

    

  </script>
  {% endblock %}